=begin
#Marketcheck Cars API

#<b>Access the New, Used and Certified cars inventories for all Car Dealers in US.</b> <br/>The data is sourced from online listings by over 44,000 Car dealers in US. At any time, there are about 6.2M searchable listings (about 1.9M unique VINs) for Used & Certified cars and about 6.6M (about 3.9M unique VINs) New Car listings from all over US. We use this API at the back for our website <a href='https://www.marketcheck.com' target='_blank'>www.marketcheck.com</a> and our Android and iOS mobile apps too.<br/><h5> Few useful links : </h5><ul><li>A quick view of the API and the use cases is depicated <a href='https://portals.marketcheck.com/mcapi/' target='_blank'>here</a></li><li>The Postman collection with various usages of the API is shared here https://www.getpostman.com/collections/2752684ff636cdd7bac2</li></ul>

OpenAPI spec version: 1.0.3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Marketcheck_api_sdk
  class CRMApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # CRM check of a particular vin
    # Check whether particular vin has had a listing after stipulated date or not
    # @param vin vin for which CRM check needs to be done
    # @param sale_date sale date after which listing has appeared or not
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @return [CRMResponse]
    def crm_check(vin, sale_date, opts = {})
      data, _status_code, _headers = crm_check_with_http_info(vin, sale_date, opts)
      data
    end

    # CRM check of a particular vin
    # Check whether particular vin has had a listing after stipulated date or not
    # @param vin vin for which CRM check needs to be done
    # @param sale_date sale date after which listing has appeared or not
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @return [Array<(CRMResponse, Fixnum, Hash)>] CRMResponse data, response status code and response headers
    def crm_check_with_http_info(vin, sale_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CRMApi.crm_check ...'
      end
      # verify the required parameter 'vin' is set
      if @api_client.config.client_side_validation && vin.nil?
        fail ArgumentError, "Missing the required parameter 'vin' when calling CRMApi.crm_check"
      end
      # verify the required parameter 'sale_date' is set
      if @api_client.config.client_side_validation && sale_date.nil?
        fail ArgumentError, "Missing the required parameter 'sale_date' when calling CRMApi.crm_check"
      end
      # resource path
      local_var_path = '/crm_check/{vin}'.sub('{' + 'vin' + '}', vin.to_s)

      # query parameters
      query_params = {}
      query_params[:'sale_date'] = sale_date
      query_params[:'api_key'] = opts[:'api_key'] if !opts[:'api_key'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CRMResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CRMApi#crm_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
