=begin
#Marketcheck Cars API

#<b>Access the New, Used and Certified cars inventories for all Car Dealers in US.</b> <br/>The data is sourced from online listings by over 44,000 Car dealers in US. At any time, there are about 6.2M searchable listings (about 1.9M unique VINs) for Used & Certified cars and about 6.6M (about 3.9M unique VINs) New Car listings from all over US. We use this API at the back for our website <a href='https://www.marketcheck.com' target='_blank'>www.marketcheck.com</a> and our Android and iOS mobile apps too.<br/><h5> Few useful links : </h5><ul><li>A quick view of the API and the use cases is depicated <a href='https://portals.marketcheck.com/mcapi/' target='_blank'>here</a></li><li>The Postman collection with various usages of the API is shared here https://www.getpostman.com/collections/2752684ff636cdd7bac2</li></ul>

OpenAPI spec version: 1.0.3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Marketcheck_api_sdk
  class DealerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Find car dealers around
    # The dealers API returns a list of dealers around a given point and radius.
    # @param latitude Latitude component of location
    # @param longitude Longitude component of location
    # @param radius Radius around the search location
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @option opts [Float] :rows Number of results to return. Default is 10. Max is 50
    # @option opts [Float] :start Offset for the search results. Default is 1.
    # @return [DealersResponse]
    def dealer_search(latitude, longitude, radius, opts = {})
      data, _status_code, _headers = dealer_search_with_http_info(latitude, longitude, radius, opts)
      data
    end

    # Find car dealers around
    # The dealers API returns a list of dealers around a given point and radius.
    # @param latitude Latitude component of location
    # @param longitude Longitude component of location
    # @param radius Radius around the search location
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @option opts [Float] :rows Number of results to return. Default is 10. Max is 50
    # @option opts [Float] :start Offset for the search results. Default is 1.
    # @return [Array<(DealersResponse, Fixnum, Hash)>] DealersResponse data, response status code and response headers
    def dealer_search_with_http_info(latitude, longitude, radius, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealerApi.dealer_search ...'
      end
      # verify the required parameter 'latitude' is set
      if @api_client.config.client_side_validation && latitude.nil?
        fail ArgumentError, "Missing the required parameter 'latitude' when calling DealerApi.dealer_search"
      end
      # verify the required parameter 'longitude' is set
      if @api_client.config.client_side_validation && longitude.nil?
        fail ArgumentError, "Missing the required parameter 'longitude' when calling DealerApi.dealer_search"
      end
      # verify the required parameter 'radius' is set
      if @api_client.config.client_side_validation && radius.nil?
        fail ArgumentError, "Missing the required parameter 'radius' when calling DealerApi.dealer_search"
      end
      # resource path
      local_var_path = '/dealers'

      # query parameters
      query_params = {}
      query_params[:'latitude'] = latitude
      query_params[:'longitude'] = longitude
      query_params[:'radius'] = radius
      query_params[:'api_key'] = opts[:'api_key'] if !opts[:'api_key'].nil?
      query_params[:'rows'] = opts[:'rows'] if !opts[:'rows'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DealersResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealerApi#dealer_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Dealer by id
    # Get a particular dealer's information by its id
    # @param dealer_id Dealer id to get all the dealer info attributes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @return [Dealer]
    def get_dealer(dealer_id, opts = {})
      data, _status_code, _headers = get_dealer_with_http_info(dealer_id, opts)
      data
    end

    # Dealer by id
    # Get a particular dealer&#39;s information by its id
    # @param dealer_id Dealer id to get all the dealer info attributes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @return [Array<(Dealer, Fixnum, Hash)>] Dealer data, response status code and response headers
    def get_dealer_with_http_info(dealer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealerApi.get_dealer ...'
      end
      # verify the required parameter 'dealer_id' is set
      if @api_client.config.client_side_validation && dealer_id.nil?
        fail ArgumentError, "Missing the required parameter 'dealer_id' when calling DealerApi.get_dealer"
      end
      # resource path
      local_var_path = '/dealer/{dealer_id}'.sub('{' + 'dealer_id' + '}', dealer_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'api_key'] = opts[:'api_key'] if !opts[:'api_key'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Dealer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealerApi#get_dealer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Dealer inventory
    # Get a dealer's currently active inventory
    # @param dealer_id Id representing the dealer to fetch the active inventory for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @option opts [String] :rows Number of results to return. Default is 10. Max is 50
    # @option opts [String] :start Page number to fetch the results for the given criteria. Default is 1. Pagination is allowed only till first 1000 results for the search and sort criteria. The page value can be only between 1 to 1000/rows
    # @return [BaseListing]
    def get_dealer_active_inventory(dealer_id, opts = {})
      data, _status_code, _headers = get_dealer_active_inventory_with_http_info(dealer_id, opts)
      data
    end

    # Dealer inventory
    # Get a dealer&#39;s currently active inventory
    # @param dealer_id Id representing the dealer to fetch the active inventory for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @option opts [String] :rows Number of results to return. Default is 10. Max is 50
    # @option opts [String] :start Page number to fetch the results for the given criteria. Default is 1. Pagination is allowed only till first 1000 results for the search and sort criteria. The page value can be only between 1 to 1000/rows
    # @return [Array<(BaseListing, Fixnum, Hash)>] BaseListing data, response status code and response headers
    def get_dealer_active_inventory_with_http_info(dealer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealerApi.get_dealer_active_inventory ...'
      end
      # verify the required parameter 'dealer_id' is set
      if @api_client.config.client_side_validation && dealer_id.nil?
        fail ArgumentError, "Missing the required parameter 'dealer_id' when calling DealerApi.get_dealer_active_inventory"
      end
      # resource path
      local_var_path = '/dealer/{dealer_id}/active/inventory'.sub('{' + 'dealer_id' + '}', dealer_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'api_key'] = opts[:'api_key'] if !opts[:'api_key'].nil?
      query_params[:'rows'] = opts[:'rows'] if !opts[:'rows'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealerApi#get_dealer_active_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Dealer's historical inventory
    # [v1 : Not Implemented Yet] - Get a dealer's historical inventory
    # @param dealer_id Id representing the dealer to fetch the active inventory for
    # @param [Hash] opts the optional parameters
    # @return [BaseListing]
    def get_dealer_historical_inventory(dealer_id, opts = {})
      data, _status_code, _headers = get_dealer_historical_inventory_with_http_info(dealer_id, opts)
      data
    end

    # Dealer&#39;s historical inventory
    # [v1 : Not Implemented Yet] - Get a dealer&#39;s historical inventory
    # @param dealer_id Id representing the dealer to fetch the active inventory for
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseListing, Fixnum, Hash)>] BaseListing data, response status code and response headers
    def get_dealer_historical_inventory_with_http_info(dealer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealerApi.get_dealer_historical_inventory ...'
      end
      # verify the required parameter 'dealer_id' is set
      if @api_client.config.client_side_validation && dealer_id.nil?
        fail ArgumentError, "Missing the required parameter 'dealer_id' when calling DealerApi.get_dealer_historical_inventory"
      end
      # resource path
      local_var_path = '/dealer/{dealer_id}/historical/inventory'.sub('{' + 'dealer_id' + '}', dealer_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealerApi#get_dealer_historical_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Experimental: Get cached version of dealer landing page by dealer id
    # Experimental: Get cached version of dealer landing page by dealer id
    # @param dealer_id Robot id to get the landing page html for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @return [DealerLandingPage]
    def get_dealer_landing_page(dealer_id, opts = {})
      data, _status_code, _headers = get_dealer_landing_page_with_http_info(dealer_id, opts)
      data
    end

    # Experimental: Get cached version of dealer landing page by dealer id
    # Experimental: Get cached version of dealer landing page by dealer id
    # @param dealer_id Robot id to get the landing page html for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @return [Array<(DealerLandingPage, Fixnum, Hash)>] DealerLandingPage data, response status code and response headers
    def get_dealer_landing_page_with_http_info(dealer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealerApi.get_dealer_landing_page ...'
      end
      # verify the required parameter 'dealer_id' is set
      if @api_client.config.client_side_validation && dealer_id.nil?
        fail ArgumentError, "Missing the required parameter 'dealer_id' when calling DealerApi.get_dealer_landing_page"
      end
      # resource path
      local_var_path = '/dealer/{dealer_id}/landing'.sub('{' + 'dealer_id' + '}', dealer_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'api_key'] = opts[:'api_key'] if !opts[:'api_key'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DealerLandingPage')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealerApi#get_dealer_landing_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Dealer's Rating
    # [MOCK] Get a dealer's Rating
    # @param dealer_id Id representing the dealer to fetch the ratings for
    # @param [Hash] opts the optional parameters
    # @return [DealerRating]
    def get_dealer_ratings(dealer_id, opts = {})
      data, _status_code, _headers = get_dealer_ratings_with_http_info(dealer_id, opts)
      data
    end

    # Dealer&#39;s Rating
    # [MOCK] Get a dealer&#39;s Rating
    # @param dealer_id Id representing the dealer to fetch the ratings for
    # @param [Hash] opts the optional parameters
    # @return [Array<(DealerRating, Fixnum, Hash)>] DealerRating data, response status code and response headers
    def get_dealer_ratings_with_http_info(dealer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealerApi.get_dealer_ratings ...'
      end
      # verify the required parameter 'dealer_id' is set
      if @api_client.config.client_side_validation && dealer_id.nil?
        fail ArgumentError, "Missing the required parameter 'dealer_id' when calling DealerApi.get_dealer_ratings"
      end
      # resource path
      local_var_path = '/dealer/{dealer_id}/ratings'.sub('{' + 'dealer_id' + '}', dealer_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DealerRating')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealerApi#get_dealer_ratings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Dealer's Review
    # [MOCK] Get a dealer's Review
    # @param dealer_id Id representing the dealer to fetch the ratings for
    # @param [Hash] opts the optional parameters
    # @return [DealerReview]
    def get_dealer_reviews(dealer_id, opts = {})
      data, _status_code, _headers = get_dealer_reviews_with_http_info(dealer_id, opts)
      data
    end

    # Dealer&#39;s Review
    # [MOCK] Get a dealer&#39;s Review
    # @param dealer_id Id representing the dealer to fetch the ratings for
    # @param [Hash] opts the optional parameters
    # @return [Array<(DealerReview, Fixnum, Hash)>] DealerReview data, response status code and response headers
    def get_dealer_reviews_with_http_info(dealer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealerApi.get_dealer_reviews ...'
      end
      # verify the required parameter 'dealer_id' is set
      if @api_client.config.client_side_validation && dealer_id.nil?
        fail ArgumentError, "Missing the required parameter 'dealer_id' when calling DealerApi.get_dealer_reviews"
      end
      # resource path
      local_var_path = '/dealer/{dealer_id}/reviews'.sub('{' + 'dealer_id' + '}', dealer_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DealerReview')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealerApi#get_dealer_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
