=begin
#Marketcheck Cars API

#<b>Access the New, Used and Certified cars inventories for all Car Dealers in US.</b> <br/>The data is sourced from online listings by over 44,000 Car dealers in US. At any time, there are about 6.2M searchable listings (about 1.9M unique VINs) for Used & Certified cars and about 6.6M (about 3.9M unique VINs) New Car listings from all over US. We use this API at the back for our website <a href='https://www.marketcheck.com' target='_blank'>www.marketcheck.com</a> and our Android and iOS mobile apps too.<br/><h5> Few useful links : </h5><ul><li>A quick view of the API and the use cases is depicated <a href='https://portals.marketcheck.com/mcapi/' target='_blank'>here</a></li><li>The Postman collection with various usages of the API is shared here https://www.getpostman.com/collections/2752684ff636cdd7bac2</li></ul>

OpenAPI spec version: 1.0.3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Marketcheck_api_sdk
  class HistoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a cars online listing history
    # The history API returns online listing history for a car identified by its VIN. History listings are sorted in the descending order of the listing date / last seen date
    # @param vin The VIN to identify the car to fetch the listing history. Must be a valid 17 char VIN
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @option opts [String] :fields List of fields to fetch, in case the default fields list in the response is to be trimmed down
    # @option opts [Float] :page Page number to fetch the results for the given criteria. Default is 1.
    # @return [Array<HistoricalListing>]
    def history(vin, opts = {})
      data, _status_code, _headers = history_with_http_info(vin, opts)
      data
    end

    # Get a cars online listing history
    # The history API returns online listing history for a car identified by its VIN. History listings are sorted in the descending order of the listing date / last seen date
    # @param vin The VIN to identify the car to fetch the listing history. Must be a valid 17 char VIN
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key The API Authentication Key. Mandatory with all API calls.
    # @option opts [String] :fields List of fields to fetch, in case the default fields list in the response is to be trimmed down
    # @option opts [Float] :page Page number to fetch the results for the given criteria. Default is 1.
    # @return [Array<(Array<HistoricalListing>, Fixnum, Hash)>] Array<HistoricalListing> data, response status code and response headers
    def history_with_http_info(vin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history ...'
      end
      # verify the required parameter 'vin' is set
      if @api_client.config.client_side_validation && vin.nil?
        fail ArgumentError, "Missing the required parameter 'vin' when calling HistoryApi.history"
      end
      # resource path
      local_var_path = '/history/{vin}'.sub('{' + 'vin' + '}', vin.to_s)

      # query parameters
      query_params = {}
      query_params[:'api_key'] = opts[:'api_key'] if !opts[:'api_key'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<HistoricalListing>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
